.bg-primary {
    background-color: #f4f6f7;
}
.bg-feature {
    background-color: #f6f7f8;
}
/*Header Component*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;
}

.header h1 {
    font-size: 2.5rem;
    color: #5c715e;
}

.header p {
    font-size: 1.25rem;
    color: #5c715e;
}

.bg-card {
    background-color: #f2f3f4;
}
/* CommercialTeam */

.scrolling-wrapper {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scrolling-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 40s linear infinite;
}

.logo-item {
    display: inline-block;
    padding: 0 1rem;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* about us  */

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 10px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(249 250 251);
    right: -15px;
}
.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 15px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(249 250 251);
    left: -15px;
}
@media screen and (max-width: 768px) {
    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid rgb(249 250 251);
        border-left: 0;
        left: -15px;
    }
    .point {
        left: -10px;
    }
}

/* CommercialTeam.css */
.container {
    padding: 1rem;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; /* Adjust spacing as needed */
}

.logo-image {
    width: 100%;
    max-width: 120px; /* Adjust max width as needed */
    height: auto;
}

/* Optional: Adjust slick carousel styles if needed */
.slick-slide {
    margin: 0 10px;
}

.slick-list {
    padding: 0;
}

.slick-track {
    display: flex;
    align-items: center;
}

.bg-style {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1237%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 116%2c 144%2c 1)'%3e%3c/rect%3e%3cpath d='M258.06 -105.83L383.64 -33.33L383.64 111.67L258.06 184.17L132.49 111.67L132.49 -33.33zM383.64 111.67L509.22 184.17L509.22 329.17L383.64 401.67L258.06 329.17L258.06 184.17zM383.64 546.67L509.22 619.17L509.22 764.17L383.64 836.67L258.06 764.17L258.06 619.17zM509.22 -105.83L634.8 -33.33L634.8 111.67L509.22 184.17L383.64 111.67L383.64 -33.33zM634.8 111.67L760.37 184.17L760.37 329.17L634.8 401.67L509.22 329.17L509.22 184.17zM760.37 329.17L885.95 401.67L885.95 546.67L760.37 619.17L634.8 546.67L634.8 401.67zM885.95 546.67L1011.53 619.17L1011.53 764.17L885.95 836.67L760.37 764.17L760.37 619.17zM1137.11 546.67L1262.68 619.17L1262.68 764.17L1137.11 836.67L1011.53 764.17L1011.53 619.17zM1262.68 -105.83L1388.26 -33.33L1388.26 111.67L1262.68 184.17L1137.11 111.67L1137.11 -33.33z' stroke='rgba(0%2c 0%2c 0%2c 0)' stroke-width='2'%3e%3c/path%3e%3cpath d='M243.56 -105.83 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM369.14 -33.33 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM369.14 111.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM243.56 184.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM117.99 111.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM117.99 -33.33 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM494.72 184.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM494.72 329.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM369.14 401.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM243.56 329.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM369.14 546.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM494.72 619.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM494.72 764.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM369.14 836.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM243.56 764.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM243.56 619.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM494.72 -105.83 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM620.3 -33.33 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM620.3 111.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM745.87 184.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM745.87 329.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM620.3 401.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM871.45 401.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM871.45 546.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM745.87 619.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM620.3 546.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM997.03 619.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM997.03 764.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM871.45 836.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM745.87 764.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1122.61 546.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1248.18 619.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1248.18 764.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1122.61 836.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1248.18 -105.83 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1373.76 -33.33 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1373.76 111.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1248.18 184.17 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1122.61 111.67 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0zM1122.61 -33.33 a14.5 14.5 0 1 0 29 0 a14.5 14.5 0 1 0 -29 0z' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/path%3e%3cpath d='M99.61 288.16L142.91 313.16L142.91 363.16L99.61 388.16L56.3 363.16L56.3 313.16zM229.51 513.16L272.81 538.16L272.81 588.16L229.51 613.16L186.21 588.16L186.21 538.16zM446.03 288.16L489.33 313.16L489.33 363.16L446.03 388.16L402.72 363.16L402.72 313.16zM489.33 363.16L532.63 388.16L532.63 438.16L489.33 463.16L446.03 438.16L446.03 388.16zM446.03 438.16L489.33 463.16L489.33 513.16L446.03 538.16L402.72 513.16L402.72 463.16zM662.54 63.16L705.84 88.16L705.84 138.16L662.54 163.16L619.24 138.16L619.24 88.16zM879.05 288.16L922.35 313.16L922.35 363.16L879.05 388.16L835.75 363.16L835.75 313.16zM1268.77 213.16L1312.08 238.16L1312.08 288.16L1268.77 313.16L1225.47 288.16L1225.47 238.16zM1268.77 363.16L1312.08 388.16L1312.08 438.16L1268.77 463.16L1225.47 438.16L1225.47 388.16zM1355.38 363.16L1398.68 388.16L1398.68 438.16L1355.38 463.16L1312.08 438.16L1312.08 388.16zM1441.98 63.16L1485.29 88.16L1485.29 138.16L1441.98 163.16L1398.68 138.16L1398.68 88.16zM1398.68 438.16L1441.98 463.16L1441.98 513.16L1398.68 538.16L1355.38 513.16L1355.38 463.16z' stroke='rgba(8%2c 145%2c 178%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1237'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
