.bg-primary {
    background-color: #f4f6f7;
}
.bg-feature {
    background-color: #f6f7f8;
}
/*Header Component*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;
}

.header h1 {
    font-size: 2.5rem;
    color: #5c715e;
}

.header p {
    font-size: 1.25rem;
    color: #5c715e;
}

.bg-card {
    background-color: #f2f3f4;
}
/* CommercialTeam */

.scrolling-wrapper {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scrolling-content {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 40s linear infinite;
}

.logo-item {
    display: inline-block;
    padding: 0 1rem;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* about us  */

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 10px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(249 250 251);
    right: -15px;
}
.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 15px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(249 250 251);
    left: -15px;
}
@media screen  and (max-width:768px){
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid rgb(249 250 251);
        border-left: 0;
        left: -15px;
    }
    .point {
        left: -10px;
    }
 }


/* CommercialTeam.css */
.container {
    padding: 1rem;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; /* Adjust spacing as needed */
}

.logo-image {
    width: 100%;
    max-width: 120px; /* Adjust max width as needed */
    height: auto;
}

/* Optional: Adjust slick carousel styles if needed */
.slick-slide {
    margin: 0 10px;
}

.slick-list {
    padding: 0;
}

.slick-track {
    display: flex;
    align-items: center;
}
