@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Rubik", sans-serif;
    --primary-color: #2494bc;
    --secondary-color: #384d5e;
}
.primary-color {
    color: #2494bc;
}
.primary-bg-color {
    background-color: #2494bc;
}
